body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.input-div {
  width: 530px;
}

.input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  transition: all 0.8s ease-in-out;
}

.input:focus {
  border-bottom: 2px solid lightskyblue;
  transition: all 0.8s ease-in-out;
}
